BILLING_ENFORCEMENT=required
SHOPIFY_MANAGED_PRICING_APP_HANDLE=khanh-dev-1
SHOPIFY_MONTHLY_PRICE=9.99
SHOPIFY_YEARLY_PRICE=99
SHOPIFY_BILLING_CURRENCY=USD
SHOPIFY_TRIAL_DAYS=3
SCOPES=read_checkout_branding_settings,read_orders,read_publications,write_cart_transforms,write_checkout_branding_settings,write_metaobject_definitions,write_metaobjects,write_products,write_publications
